/* line 1, ../sass/_CodeDocumentation.scss */
.highlight .hll {
  background-color: #49483e;
}

/* line 2, ../sass/_CodeDocumentation.scss */
.highlight {
  background: #272822;
  color: #f8f8f2;
}

/* line 3, ../sass/_CodeDocumentation.scss */
.highlight .c {
  color: #75715e;
}

/* Comment */
/* line 4, ../sass/_CodeDocumentation.scss */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
/* line 5, ../sass/_CodeDocumentation.scss */
.highlight .k {
  color: #66d9ef;
}

/* Keyword */
/* line 6, ../sass/_CodeDocumentation.scss */
.highlight .l {
  color: #ae81ff;
}

/* Literal */
/* line 7, ../sass/_CodeDocumentation.scss */
.highlight .n {
  color: #f8f8f2;
}

/* Name */
/* line 8, ../sass/_CodeDocumentation.scss */
.highlight .o {
  color: #f92672;
}

/* Operator */
/* line 9, ../sass/_CodeDocumentation.scss */
.highlight .p {
  color: #f8f8f2;
}

/* Punctuation */
/* line 10, ../sass/_CodeDocumentation.scss */
.highlight .cm {
  color: #75715e;
}

/* Comment.Multiline */
/* line 11, ../sass/_CodeDocumentation.scss */
.highlight .cp {
  color: #75715e;
}

/* Comment.Preproc */
/* line 12, ../sass/_CodeDocumentation.scss */
.highlight .c1 {
  color: #75715e;
}

/* Comment.Single */
/* line 13, ../sass/_CodeDocumentation.scss */
.highlight .cs {
  color: #75715e;
}

/* Comment.Special */
/* line 14, ../sass/_CodeDocumentation.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 15, ../sass/_CodeDocumentation.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 16, ../sass/_CodeDocumentation.scss */
.highlight .kc {
  color: #66d9ef;
}

/* Keyword.Constant */
/* line 17, ../sass/_CodeDocumentation.scss */
.highlight .kd {
  color: #66d9ef;
}

/* Keyword.Declaration */
/* line 18, ../sass/_CodeDocumentation.scss */
.highlight .kn {
  color: #f92672;
}

/* Keyword.Namespace */
/* line 19, ../sass/_CodeDocumentation.scss */
.highlight .kp {
  color: #66d9ef;
}

/* Keyword.Pseudo */
/* line 20, ../sass/_CodeDocumentation.scss */
.highlight .kr {
  color: #66d9ef;
}

/* Keyword.Reserved */
/* line 21, ../sass/_CodeDocumentation.scss */
.highlight .kt {
  color: #66d9ef;
}

/* Keyword.Type */
/* line 22, ../sass/_CodeDocumentation.scss */
.highlight .ld {
  color: #e6db74;
}

/* Literal.Date */
/* line 23, ../sass/_CodeDocumentation.scss */
.highlight .m {
  color: #ae81ff;
}

/* Literal.Number */
/* line 24, ../sass/_CodeDocumentation.scss */
.highlight .s {
  color: #e6db74;
}

/* Literal.String */
/* line 25, ../sass/_CodeDocumentation.scss */
.highlight .na {
  color: #a6e22e;
}

/* Name.Attribute */
/* line 26, ../sass/_CodeDocumentation.scss */
.highlight .nb {
  color: #f8f8f2;
}

/* Name.Builtin */
/* line 27, ../sass/_CodeDocumentation.scss */
.highlight .nc {
  color: #a6e22e;
}

/* Name.Class */
/* line 28, ../sass/_CodeDocumentation.scss */
.highlight .no {
  color: #66d9ef;
}

/* Name.Constant */
/* line 29, ../sass/_CodeDocumentation.scss */
.highlight .nd {
  color: #a6e22e;
}

/* Name.Decorator */
/* line 30, ../sass/_CodeDocumentation.scss */
.highlight .ni {
  color: #f8f8f2;
}

/* Name.Entity */
/* line 31, ../sass/_CodeDocumentation.scss */
.highlight .ne {
  color: #a6e22e;
}

/* Name.Exception */
/* line 32, ../sass/_CodeDocumentation.scss */
.highlight .nf {
  color: #a6e22e;
}

/* Name.Function */
/* line 33, ../sass/_CodeDocumentation.scss */
.highlight .nl {
  color: #f8f8f2;
}

/* Name.Label */
/* line 34, ../sass/_CodeDocumentation.scss */
.highlight .nn {
  color: #f8f8f2;
}

/* Name.Namespace */
/* line 35, ../sass/_CodeDocumentation.scss */
.highlight .nx {
  color: #a6e22e;
}

/* Name.Other */
/* line 36, ../sass/_CodeDocumentation.scss */
.highlight .py {
  color: #f8f8f2;
}

/* Name.Property */
/* line 37, ../sass/_CodeDocumentation.scss */
.highlight .nt {
  color: #f92672;
}

/* Name.Tag */
/* line 38, ../sass/_CodeDocumentation.scss */
.highlight .nv {
  color: #f8f8f2;
}

/* Name.Variable */
/* line 39, ../sass/_CodeDocumentation.scss */
.highlight .ow {
  color: #f92672;
}

/* Operator.Word */
/* line 40, ../sass/_CodeDocumentation.scss */
.highlight .w {
  color: #f8f8f2;
}

/* Text.Whitespace */
/* line 41, ../sass/_CodeDocumentation.scss */
.highlight .mf {
  color: #ae81ff;
}

/* Literal.Number.Float */
/* line 42, ../sass/_CodeDocumentation.scss */
.highlight .mh {
  color: #ae81ff;
}

/* Literal.Number.Hex */
/* line 43, ../sass/_CodeDocumentation.scss */
.highlight .mi {
  color: #ae81ff;
}

/* Literal.Number.Integer */
/* line 44, ../sass/_CodeDocumentation.scss */
.highlight .mo {
  color: #ae81ff;
}

/* Literal.Number.Oct */
/* line 45, ../sass/_CodeDocumentation.scss */
.highlight .sb {
  color: #e6db74;
}

/* Literal.String.Backtick */
/* line 46, ../sass/_CodeDocumentation.scss */
.highlight .sc {
  color: #e6db74;
}

/* Literal.String.Char */
/* line 47, ../sass/_CodeDocumentation.scss */
.highlight .sd {
  color: #e6db74;
}

/* Literal.String.Doc */
/* line 48, ../sass/_CodeDocumentation.scss */
.highlight .s2 {
  color: #e6db74;
}

/* Literal.String.Double */
/* line 49, ../sass/_CodeDocumentation.scss */
.highlight .se {
  color: #ae81ff;
}

/* Literal.String.Escape */
/* line 50, ../sass/_CodeDocumentation.scss */
.highlight .sh {
  color: #e6db74;
}

/* Literal.String.Heredoc */
/* line 51, ../sass/_CodeDocumentation.scss */
.highlight .si {
  color: #e6db74;
}

/* Literal.String.Interpol */
/* line 52, ../sass/_CodeDocumentation.scss */
.highlight .sx {
  color: #e6db74;
}

/* Literal.String.Other */
/* line 53, ../sass/_CodeDocumentation.scss */
.highlight .sr {
  color: #e6db74;
}

/* Literal.String.Regex */
/* line 54, ../sass/_CodeDocumentation.scss */
.highlight .s1 {
  color: #e6db74;
}

/* Literal.String.Single */
/* line 55, ../sass/_CodeDocumentation.scss */
.highlight .ss {
  color: #e6db74;
}

/* Literal.String.Symbol */
/* line 56, ../sass/_CodeDocumentation.scss */
.highlight .bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
/* line 57, ../sass/_CodeDocumentation.scss */
.highlight .vc {
  color: #f8f8f2;
}

/* Name.Variable.Class */
/* line 58, ../sass/_CodeDocumentation.scss */
.highlight .vg {
  color: #f8f8f2;
}

/* Name.Variable.Global */
/* line 59, ../sass/_CodeDocumentation.scss */
.highlight .vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance */
/* line 60, ../sass/_CodeDocumentation.scss */
.highlight .il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
/* line 14, ../sass/WebElementStructure.sass */
.highlight pre {
  padding: 10px;
  overflow: auto;
}

/* line 18, ../sass/WebElementStructure.sass */
.Clickable {
  cursor: pointer;
  cursor: hand;
}

/* line 22, ../sass/WebElementStructure.sass */
.WClear {
  *zoom: 1;
}
/* line 24, ../sass/WebElementStructure.sass */
.WClear:before, .WClear:after {
  display: table;
  content: "";
}
/* line 27, ../sass/WebElementStructure.sass */
.WClear:after {
  clear: both;
}

/* line 29, ../sass/WebElementStructure.sass */
.WActions {
  line-height: 40px;
}

/* line 32, ../sass/WebElementStructure.sass */
div.WSelectedMultiOption {
  border: 1px gray solid;
  background-color: lightgrey;
  padding: 2px;
  margin-left: 2px;
  color: black;
}
/* line 38, ../sass/WebElementStructure.sass */
div.WSelectedMultiOption .valueSelected {
  width: 100px;
}
/* line 40, ../sass/WebElementStructure.sass */
div.WSelectedMultiOption img {
  width: 1em;
}
/* line 42, ../sass/WebElementStructure.sass */
div.WRemoved {
  background-color: #ffcccc;
  border: 1px #910000 solid;
  width: 48%;
  float: left;
  margin: 3px;
}
/* line 48, ../sass/WebElementStructure.sass */
div.WAdded {
  background-color: #e0ff97;
  border: 1px #268c18 solid;
  width: 48%;
  float: right;
  margin: 3px;
}
/* line 54, ../sass/WebElementStructure.sass */
div.WStatusIndicator {
  border: 1px gray solid;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 100px;
  width: 4px;
}
/* line 61, ../sass/WebElementStructure.sass */
div.StatusComplete {
  background-color: green;
}
/* line 63, ../sass/WebElementStructure.sass */
div.StatusPartial {
  background-color: yellow;
}
/* line 65, ../sass/WebElementStructure.sass */
div.StatusIncomplete {
  background-color: red;
}

/* line 68, ../sass/WebElementStructure.sass */
input.ToggledOn {
  background-color: #77b2e0;
}

/* line 73, ../sass/WebElementStructure.sass */
a.WToggleLink:visited, a.WToggleLink:link {
  font-weight: normal;
  text-decoration: none;
}
/* line 77, ../sass/WebElementStructure.sass */
a.WToggleLink.Pushed:visited, a.WToggleLink.Pushed:link {
  font-weight: bold;
  text-decoration: none;
}

/* line 81, ../sass/WebElementStructure.sass */
input.WAddFilterButton {
  width: 80px;
}

/* line 84, ../sass/WebElementStructure.sass */
.WAddFilter {
  padding-top: 5px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

/* line 90, ../sass/WebElementStructure.sass */
.WFilter {
  margin: 2px;
  padding: 4px;
  border: 1px #e5e5e5 solid;
}

/* line 95, ../sass/WebElementStructure.sass */
.WFilterHighlight {
  background-color: #dedede;
  border: 1px #bcbbbb solid;
}

/* line 99, ../sass/WebElementStructure.sass */
.WCheckboxField {
  margin-bottom: 4px;
  margin-top: 7px;
  clear: both;
}

/* line 104, ../sass/WebElementStructure.sass */
.WUndoDelete {
  margin: 3px;
  padding: 3px;
}

/* line 108, ../sass/WebElementStructure.sass */
.WStoredValue {
  margin-right: 4px;
}

/* line 111, ../sass/WebElementStructure.sass */
.WMenu {
  color: black;
  position: absolute;
  z-index: 900;
  background-color: #e1e1e0;
  padding: 2px;
  border: 1px #5a5a5a solid;
}

/* line 119, ../sass/WebElementStructure.sass */
.WSpaced {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

/* line 123, ../sass/WebElementStructure.sass */
.WAccordion {
  width: 100%;
}
/* line 126, ../sass/WebElementStructure.sass */
.WAccordion .WToggle {
  width: 100%;
  background-color: #ffffbb;
  cursor: pointer;
  cursor: hand;
  border-bottom: 1px solid #cccc88;
}
/* line 132, ../sass/WebElementStructure.sass */
.WAccordion .WToggle img {
  padding: 4px;
}
/* line 134, ../sass/WebElementStructure.sass */
.WAccordion .WToggle span {
  margin-left: 3px;
  padding: 3px;
  display: block;
}

/* line 139, ../sass/WebElementStructure.sass */
.WVerticalRule {
  border-left: 1px gray solid;
  height: 100%;
  width: 0%;
}

/* line 144, ../sass/WebElementStructure.sass */
.WJumpToLetter {
  background-color: #0066cc;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 149, ../sass/WebElementStructure.sass */
.WLetterSelected {
  font-family: monospace;
  color: black;
  background-color: white;
  border-top: 1px #c1e3ff solid;
  border-bottom: 1px #c1e3ff solid;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 160, ../sass/WebElementStructure.sass */
.WLetter:link, .WLetter:active, .WLetter:visited {
  font-family: monospace;
  color: #dadada;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 166, ../sass/WebElementStructure.sass */
.WLetter:hover {
  font-family: monospace;
  color: white;
  font-size: 200%;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

/* line 175, ../sass/WebElementStructure.sass */
div.WCrumb {
  border: 1px #868686 solid;
  color: black;
  background-color: black;
  background-image: url("breadcrumb_backdrop.png");
  background-repeat: repeat-x;
  padding: 5px;
}
/* line 182, ../sass/WebElementStructure.sass */
div.WCrumb a {
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}
/* line 189, ../sass/WebElementStructure.sass */
div.WCrumb a:hover {
  color: white;
  background-color: gray;
}

/* line 193, ../sass/WebElementStructure.sass */
.WTimeFrame {
  margin-top: 2px;
}
/* line 195, ../sass/WebElementStructure.sass */
.WTimeFrame a {
  cursor: pointer;
  cursor: hand;
}
/* line 196, ../sass/WebElementStructure.sass */
.WTimeFrame a.selected {
  font-weight: bold;
  text-decoration: none;
}
/* line 202, ../sass/WebElementStructure.sass */
.WTimeFrame .WLabel {
  margin-left: 5px;
}

/* line 205, ../sass/WebElementStructure.sass */
.WBlock {
  display: block;
}

/* line 208, ../sass/WebElementStructure.sass */
.WLeft {
  float: left;
}

/* line 211, ../sass/WebElementStructure.sass */
.WRight {
  float: right;
}

/* line 214, ../sass/WebElementStructure.sass */
.WLabeledData {
  color: #775544;
}

/* line 217, ../sass/WebElementStructure.sass */
.WDataLabeled {
  margin-left: 5px;
  color: #773300;
  font-weight: bold;
}

/* line 222, ../sass/WebElementStructure.sass */
.WActionBox {
  background-color: #e7e7e7;
  border: 1px solid #cccccc;
  color: #777777;
  margin-left: 10px;
  padding: 5px;
  width: 130px;
}

/* line 230, ../sass/WebElementStructure.sass */
.WActionBoxHeader {
  font-size: 14px;
}

/* line 233, ../sass/WebElementStructure.sass */
.WActionBox ul {
  margin: 0;
  color: #cccccc;
  padding-left: 1.5em !important;
}
/* line 237, ../sass/WebElementStructure.sass */
.WActionBox ul li {
  margin: 0;
}

/* line 240, ../sass/WebElementStructure.sass */
.WUnrolledSelect {
  margin: 0;
  padding: 0 !important;
  display: block;
  list-style: none;
  list-position: 0;
  width: 75px;
}
/* line 247, ../sass/WebElementStructure.sass */
.WUnrolledSelect li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 252, ../sass/WebElementStructure.sass */
.WUnrolledSelect li a {
  text-decoration: none;
  display: block;
  background-color: #6699cc;
  color: white;
  padding-left: 18px;
  border: 1px solid #d0d0d0;
  border-width: 0 1px 0 1px;
}
/* line 260, ../sass/WebElementStructure.sass */
.WUnrolledSelect li a:hover {
  background: url("tail_li_hover.gif") 5px 0 no-repeat #6699cc;
  color: #333333;
  border-right: 1px solid #ffffbb;
}
/* line 264, ../sass/WebElementStructure.sass */
.WUnrolledSelect li a.selected {
  background: url("tail_li_selected.gif") 5px 0 no-repeat #6699cc;
  color: black;
  border-right: 1px solid #eef0f4;
}
/* line 269, ../sass/WebElementStructure.sass */
.WUnrolledSelect li span.first {
  display: block;
  background-color: transparent;
  background-image: url("tail_li_first.gif");
  height: 14px;
}
/* line 274, ../sass/WebElementStructure.sass */
.WUnrolledSelect li span.last {
  display: block;
  background-color: transparent;
  background-image: url("tail_li_last.gif");
  height: 14px;
}

/* line 280, ../sass/WebElementStructure.sass */
div.WCenter {
  overflow: hidden;
  position: relative;
}
/* line 283, ../sass/WebElementStructure.sass */
div.WCenter div.WOuter {
  float: left;
  position: relative;
  left: 50%;
}
/* line 287, ../sass/WebElementStructure.sass */
div.WCenter div.WOuter div.WInner {
  position: relative;
  left: -50%;
}

/* line 292, ../sass/WebElementStructure.sass */
.WLoading {
  -webkit-box-shadow: #b3b3b3 1px 1px 1px 1px;
  -moz-box-shadow: #b3b3b3 1px 1px 1px 1px;
  box-shadow: #b3b3b3 1px 1px 1px 1px;
  background-color: lightgrey;
  border: 1px gray solid;
}
/* line 296, ../sass/WebElementStructure.sass */
.WLoading span {
  line-height: 30px;
  margin-left: 10px;
}
/* line 299, ../sass/WebElementStructure.sass */
.WLoading .WContent {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 303, ../sass/WebElementStructure.sass */
.WTabLabels {
  background-color: #434343;
  padding-top: 10px;
  padding-left: 10px;
}
/* line 307, ../sass/WebElementStructure.sass */
.WTabLabels .WTabLabel {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightgrey;
  border-left: 1px gray solid;
  border-right: 1px gray solid;
  padding: 5px;
}
/* line 314, ../sass/WebElementStructure.sass */
.WTabLabels .WTabLabel.WUnselected {
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: linear-gradient(#ffffff, #cccccc, #aaaaaa);
  border-top: 1px black solid;
}
/* line 318, ../sass/WebElementStructure.sass */
.WTabLabels .WTabLabel.WUnselected:hover {
  border-top: 1px #396eff solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #999999), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(#ffffff, #999999, #777777);
  background-image: -moz-linear-gradient(#ffffff, #999999, #777777);
  background-image: -o-linear-gradient(#ffffff, #999999, #777777);
  background-image: linear-gradient(#ffffff, #999999, #777777);
}
/* line 322, ../sass/WebElementStructure.sass */
.WTabLabels .WTabLabel.WSelected {
  cursor: default;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(50%, #cccccc), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#aaaaaa, #cccccc, #ffffff);
  background-image: -moz-linear-gradient(#aaaaaa, #cccccc, #ffffff);
  background-image: -o-linear-gradient(#aaaaaa, #cccccc, #ffffff);
  background-image: linear-gradient(#aaaaaa, #cccccc, #ffffff);
  border-top: 1px white solid;
}

/* line 328, ../sass/WebElementStructure.sass */
.WDropArea {
  -webkit-box-shadow: #b3b3b3 1px 1px 1px 1px;
  -moz-box-shadow: #b3b3b3 1px 1px 1px 1px;
  box-shadow: #b3b3b3 1px 1px 1px 1px;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  height: 360px;
  width: 380px;
  overflow: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border: 1px gray solid;
}
/* line 338, ../sass/WebElementStructure.sass */
.WDropArea.WEmpty {
  height: 380px;
  width: 400px;
  background-image: url("filedrop.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  padding-bottom: 20px;
}
/* line 346, ../sass/WebElementStructure.sass */
.WDropArea .WStatusBar {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: lightgrey;
  border-bottom: 1px gray solid;
  line-height: 32px;
}
/* line 351, ../sass/WebElementStructure.sass */
.WDropArea .WStatusBar .WDropIndicator {
  margin-left: 30px;
  margin-right: 15px;
}
/* line 355, ../sass/WebElementStructure.sass */
.WDropArea .WFile {
  width: 130px;
  height: 140px;
  padding: 5px;
}
/* line 359, ../sass/WebElementStructure.sass */
.WDropArea .WFile .WImageContainer {
  width: 128px;
  height: 128px;
}
/* line 362, ../sass/WebElementStructure.sass */
.WDropArea .WFile .WImageContainer img {
  max-width: 128px;
  max-height: 128px;
}
/* line 365, ../sass/WebElementStructure.sass */
.WDropArea .WFile span {
  text-align: center;
  overflow: hidden;
}
