/* line 1, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .hll {
  background-color: #49483e;
}

/* line 2, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight {
  background: #272822;
  color: #f8f8f2;
}

/* line 3, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .c {
  color: #75715e;
}

/* Comment */
/* line 4, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
/* line 5, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .k {
  color: #66d9ef;
}

/* Keyword */
/* line 6, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .l {
  color: #ae81ff;
}

/* Literal */
/* line 7, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .n {
  color: #f8f8f2;
}

/* Name */
/* line 8, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .o {
  color: #f92672;
}

/* Operator */
/* line 9, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .p {
  color: #f8f8f2;
}

/* Punctuation */
/* line 10, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .cm {
  color: #75715e;
}

/* Comment.Multiline */
/* line 11, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .cp {
  color: #75715e;
}

/* Comment.Preproc */
/* line 12, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .c1 {
  color: #75715e;
}

/* Comment.Single */
/* line 13, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .cs {
  color: #75715e;
}

/* Comment.Special */
/* line 14, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 15, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 16, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .kc {
  color: #66d9ef;
}

/* Keyword.Constant */
/* line 17, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .kd {
  color: #66d9ef;
}

/* Keyword.Declaration */
/* line 18, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .kn {
  color: #f92672;
}

/* Keyword.Namespace */
/* line 19, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .kp {
  color: #66d9ef;
}

/* Keyword.Pseudo */
/* line 20, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .kr {
  color: #66d9ef;
}

/* Keyword.Reserved */
/* line 21, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .kt {
  color: #66d9ef;
}

/* Keyword.Type */
/* line 22, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .ld {
  color: #e6db74;
}

/* Literal.Date */
/* line 23, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .m {
  color: #ae81ff;
}

/* Literal.Number */
/* line 24, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .s {
  color: #e6db74;
}

/* Literal.String */
/* line 25, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .na {
  color: #a6e22e;
}

/* Name.Attribute */
/* line 26, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nb {
  color: #f8f8f2;
}

/* Name.Builtin */
/* line 27, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nc {
  color: #a6e22e;
}

/* Name.Class */
/* line 28, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .no {
  color: #66d9ef;
}

/* Name.Constant */
/* line 29, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nd {
  color: #a6e22e;
}

/* Name.Decorator */
/* line 30, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .ni {
  color: #f8f8f2;
}

/* Name.Entity */
/* line 31, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .ne {
  color: #a6e22e;
}

/* Name.Exception */
/* line 32, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nf {
  color: #a6e22e;
}

/* Name.Function */
/* line 33, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nl {
  color: #f8f8f2;
}

/* Name.Label */
/* line 34, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nn {
  color: #f8f8f2;
}

/* Name.Namespace */
/* line 35, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nx {
  color: #a6e22e;
}

/* Name.Other */
/* line 36, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .py {
  color: #f8f8f2;
}

/* Name.Property */
/* line 37, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nt {
  color: #f92672;
}

/* Name.Tag */
/* line 38, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .nv {
  color: #f8f8f2;
}

/* Name.Variable */
/* line 39, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .ow {
  color: #f92672;
}

/* Operator.Word */
/* line 40, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .w {
  color: #f8f8f2;
}

/* Text.Whitespace */
/* line 41, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .mf {
  color: #ae81ff;
}

/* Literal.Number.Float */
/* line 42, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .mh {
  color: #ae81ff;
}

/* Literal.Number.Hex */
/* line 43, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .mi {
  color: #ae81ff;
}

/* Literal.Number.Integer */
/* line 44, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .mo {
  color: #ae81ff;
}

/* Literal.Number.Oct */
/* line 45, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .sb {
  color: #e6db74;
}

/* Literal.String.Backtick */
/* line 46, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .sc {
  color: #e6db74;
}

/* Literal.String.Char */
/* line 47, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .sd {
  color: #e6db74;
}

/* Literal.String.Doc */
/* line 48, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .s2 {
  color: #e6db74;
}

/* Literal.String.Double */
/* line 49, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .se {
  color: #ae81ff;
}

/* Literal.String.Escape */
/* line 50, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .sh {
  color: #e6db74;
}

/* Literal.String.Heredoc */
/* line 51, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .si {
  color: #e6db74;
}

/* Literal.String.Interpol */
/* line 52, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .sx {
  color: #e6db74;
}

/* Literal.String.Other */
/* line 53, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .sr {
  color: #e6db74;
}

/* Literal.String.Regex */
/* line 54, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .s1 {
  color: #e6db74;
}

/* Literal.String.Single */
/* line 55, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .ss {
  color: #e6db74;
}

/* Literal.String.Symbol */
/* line 56, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
/* line 57, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .vc {
  color: #f8f8f2;
}

/* Name.Variable.Class */
/* line 58, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .vg {
  color: #f8f8f2;
}

/* Name.Variable.Global */
/* line 59, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance */
/* line 60, /home/timothy/Projects/OpenSource/WebElements/Static/sass/_CodeDocumentation.scss */
.highlight .il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
/* line 14, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.highlight pre {
  padding: 10px;
  overflow: auto;
}

/* line 18, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.Clickable {
  cursor: pointer;
  cursor: hand;
}

/* line 22, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WClear {
  *zoom: 1;
}
/* line 24, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WClear:before, .WClear:after {
  display: table;
  content: "";
}
/* line 27, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WClear:after {
  clear: both;
}

/* line 29, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WActions {
  line-height: 40px;
}

/* line 32, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WSelectedMultiOption {
  border: 1px gray solid;
  background-color: lightgrey;
  padding: 2px;
  margin-left: 2px;
  color: black;
}
/* line 38, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WSelectedMultiOption .valueSelected {
  width: 100px;
}
/* line 40, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WSelectedMultiOption img {
  width: 1em;
}
/* line 42, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WRemoved {
  background-color: #ffcccc;
  border: 1px #910000 solid;
  width: 48%;
  float: left;
  margin: 3px;
}
/* line 48, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WAdded {
  background-color: #e0ff97;
  border: 1px #268c18 solid;
  width: 48%;
  float: right;
  margin: 3px;
}
/* line 54, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WStatusIndicator {
  border: 1px gray solid;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 100px;
  width: 4px;
}
/* line 61, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.StatusComplete {
  background-color: green;
}
/* line 63, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.StatusPartial {
  background-color: yellow;
}
/* line 65, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.StatusIncomplete {
  background-color: red;
}

/* line 68, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
input.ToggledOn {
  background-color: #77b2e0;
}

/* line 73, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
a.WToggleLink:visited, a.WToggleLink:link {
  font-weight: normal;
  text-decoration: none;
}
/* line 77, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
a.WToggleLink.Pushed:visited, a.WToggleLink.Pushed:link {
  font-weight: bold;
  text-decoration: none;
}

/* line 81, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
input.WAddFilterButton {
  width: 80px;
}

/* line 84, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WAddFilter {
  padding-top: 5px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

/* line 90, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WFilter {
  margin: 2px;
  padding: 4px;
  border: 1px #e5e5e5 solid;
}

/* line 96, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WFields .WLabel {
  width: 34%;
}
/* line 98, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WFields .WInputs {
  width: 65%;
}
/* line 100, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WFields .WInputs .WInput {
  width: 100%;
}
/* line 102, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WFields .WField {
  margin-bottom: 8px;
  margin-top: 8px;
}

/* line 107, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WFilterHighlight {
  background-color: #dedede;
  border: 1px #bcbbbb solid;
}

/* line 111, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WCheckboxField {
  margin-bottom: 4px;
  margin-top: 7px;
  clear: both;
}

/* line 116, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WUndoDelete {
  margin: 3px;
  padding: 3px;
}

/* line 120, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WStoredValue {
  margin-right: 4px;
}

/* line 123, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WMenu {
  color: black;
  position: absolute;
  z-index: 900;
  background-color: #e1e1e0;
  padding: 2px;
  border: 1px #5a5a5a solid;
}

/* line 131, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WSpaced {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

/* line 135, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WAccordion {
  width: 100%;
}
/* line 138, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WAccordion .WToggle {
  width: 100%;
  background-color: #ffffbb;
  cursor: pointer;
  cursor: hand;
  border-bottom: 1px solid #cccc88;
}
/* line 144, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WAccordion .WToggle img {
  padding: 4px;
}
/* line 146, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WAccordion .WToggle span {
  margin-left: 3px;
  padding: 3px;
  display: block;
}

/* line 151, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WVerticalRule {
  border-left: 1px gray solid;
  height: 100%;
  width: 0%;
}

/* line 156, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WJumpToLetter {
  background-color: #0066cc;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 161, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WLetterSelected {
  font-family: monospace;
  color: black;
  background-color: white;
  border-top: 1px #c1e3ff solid;
  border-bottom: 1px #c1e3ff solid;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 172, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WLetter:link, .WLetter:active, .WLetter:visited {
  font-family: monospace;
  color: #dadada;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 178, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WLetter:hover {
  font-family: monospace;
  color: white;
  font-size: 200%;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

/* line 187, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WCrumb {
  border: 1px #868686 solid;
  color: black;
  background-color: black;
  background-image: url("breadcrumb_backdrop.png");
  background-repeat: repeat-x;
  padding: 5px;
}
/* line 194, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WCrumb a {
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}
/* line 201, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WCrumb a:hover {
  color: white;
  background-color: gray;
}

/* line 205, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTimeFrame {
  margin-top: 2px;
}
/* line 207, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTimeFrame a {
  cursor: pointer;
  cursor: hand;
}
/* line 208, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTimeFrame a.selected {
  font-weight: bold;
  text-decoration: none;
}
/* line 214, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTimeFrame .WLabel {
  margin-left: 5px;
}

/* line 217, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WBlock {
  display: block;
}

/* line 220, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WLeft {
  float: left;
}

/* line 223, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WRight {
  float: right;
}

/* line 226, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WLabeledData {
  color: #775544;
}

/* line 229, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDataLabeled {
  margin-left: 5px;
  color: #773300;
  font-weight: bold;
}

/* line 234, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WActionBox {
  background-color: #e7e7e7;
  border: 1px solid #cccccc;
  color: #777777;
  margin-left: 10px;
  padding: 5px;
  width: 130px;
}

/* line 242, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WActionBoxHeader {
  font-size: 14px;
}

/* line 245, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WActionBox ul {
  margin: 0;
  color: #cccccc;
  padding-left: 1.5em !important;
}
/* line 249, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WActionBox ul li {
  margin: 0;
}

/* line 252, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WUnrolledSelect {
  margin: 0;
  padding: 0 !important;
  display: block;
  list-style: none;
  list-position: 0;
  width: 75px;
}
/* line 259, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WUnrolledSelect li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 264, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WUnrolledSelect li a {
  text-decoration: none;
  display: block;
  background-color: #6699cc;
  color: white;
  padding-left: 18px;
  border: 1px solid #d0d0d0;
  border-width: 0 1px 0 1px;
}
/* line 272, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WUnrolledSelect li a:hover {
  background: url("tail_li_hover.gif") 5px 0 no-repeat #6699cc;
  color: #333333;
  border-right: 1px solid #ffffbb;
}
/* line 276, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WUnrolledSelect li a.selected {
  background: url("tail_li_selected.gif") 5px 0 no-repeat #6699cc;
  color: black;
  border-right: 1px solid #eef0f4;
}
/* line 281, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WUnrolledSelect li span.first {
  display: block;
  background-color: transparent;
  background-image: url("tail_li_first.gif");
  height: 14px;
}
/* line 286, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WUnrolledSelect li span.last {
  display: block;
  background-color: transparent;
  background-image: url("tail_li_last.gif");
  height: 14px;
}

/* line 292, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WCenter {
  overflow: hidden;
  position: relative;
}
/* line 295, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WCenter div.WOuter {
  float: left;
  position: relative;
  left: 50%;
}
/* line 299, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
div.WCenter div.WOuter div.WInner {
  position: relative;
  left: -50%;
}

/* line 304, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WLoading {
  -webkit-box-shadow: #b3b3b3 1px 1px 1px 1px;
  -moz-box-shadow: #b3b3b3 1px 1px 1px 1px;
  box-shadow: #b3b3b3 1px 1px 1px 1px;
  background-color: lightgrey;
  border: 1px gray solid;
}
/* line 308, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WLoading span {
  line-height: 30px;
  margin-left: 10px;
}
/* line 311, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WLoading .WContent {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 315, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTabLabels {
  background-color: #434343;
  padding-top: 10px;
  padding-left: 10px;
}
/* line 319, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTabLabels .WTabLabel {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightgrey;
  border-left: 1px gray solid;
  border-right: 1px gray solid;
  padding: 5px;
}
/* line 326, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTabLabels .WTabLabel.WUnselected {
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: linear-gradient(#ffffff, #cccccc, #aaaaaa);
  border-top: 1px black solid;
}
/* line 330, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTabLabels .WTabLabel.WUnselected:hover {
  border-top: 1px #396eff solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #999999), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(#ffffff, #999999, #777777);
  background-image: -moz-linear-gradient(#ffffff, #999999, #777777);
  background-image: -o-linear-gradient(#ffffff, #999999, #777777);
  background-image: linear-gradient(#ffffff, #999999, #777777);
}
/* line 334, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WTabLabels .WTabLabel.WSelected {
  cursor: default;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(50%, #cccccc), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#aaaaaa, #cccccc, #ffffff);
  background-image: -moz-linear-gradient(#aaaaaa, #cccccc, #ffffff);
  background-image: -o-linear-gradient(#aaaaaa, #cccccc, #ffffff);
  background-image: linear-gradient(#aaaaaa, #cccccc, #ffffff);
  border-top: 1px white solid;
}

/* line 340, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDropArea {
  -webkit-box-shadow: #b3b3b3 1px 1px 1px 1px;
  -moz-box-shadow: #b3b3b3 1px 1px 1px 1px;
  box-shadow: #b3b3b3 1px 1px 1px 1px;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  height: 360px;
  width: 380px;
  overflow: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border: 1px gray solid;
}
/* line 350, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDropArea.WEmpty {
  height: 380px;
  width: 400px;
  background-image: url("filedrop.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  padding-bottom: 20px;
}
/* line 358, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDropArea .WStatusBar {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: lightgrey;
  border-bottom: 1px gray solid;
  line-height: 32px;
}
/* line 363, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDropArea .WStatusBar .WDropIndicator {
  margin-left: 30px;
  margin-right: 15px;
}
/* line 367, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDropArea .WFile {
  width: 130px;
  height: 140px;
  padding: 5px;
}
/* line 371, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDropArea .WFile .WImageContainer {
  width: 128px;
  height: 128px;
}
/* line 374, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDropArea .WFile .WImageContainer img {
  max-width: 128px;
  max-height: 128px;
}
/* line 377, /home/timothy/Projects/OpenSource/WebElements/Static/sass/WebElementStructure.sass */
.WDropArea .WFile span {
  text-align: center;
  overflow: hidden;
}

/* line 4, ../sass/WebElementStructureWithButtons.sass */
input[type=button], input[type=submit] {
  font-size: 19px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE4E4E4', endColorstr='#FFB1B1B1');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #cbcbcb));
  background: -webkit-linear-gradient(#e4e4e4, #cbcbcb);
  background: -moz-linear-gradient(#e4e4e4, #cbcbcb);
  background: -o-linear-gradient(#e4e4e4, #cbcbcb);
  background: linear-gradient(#e4e4e4, #cbcbcb);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #bebebe;
  color: black;
  text-shadow: #f7f7f7 0 1px 0;
}
/* line 15, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button]:hover, input[type=submit]:hover {
  text-decoration: none;
}
/* line 36, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button]:hover, input[type=submit]:hover {
  background-color: #bebebe;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d7d7d7), color-stop(100%, #bebebe));
  background: -webkit-linear-gradient(#d7d7d7, #bebebe);
  background: -moz-linear-gradient(#d7d7d7, #bebebe);
  background: -o-linear-gradient(#d7d7d7, #bebebe);
  background: linear-gradient(#d7d7d7, #bebebe);
}
/* line 39, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button]:active, input[type=submit]:active {
  -webkit-box-shadow: #b6b6b6 0 1px 2px inset;
  -moz-box-shadow: #b6b6b6 0 1px 2px inset;
  box-shadow: #b6b6b6 0 1px 2px inset;
}
/* line 6, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].disabled, input[type=button][disabled], input[type=submit].disabled, input[type=submit][disabled] {
  opacity: 0.6;
  background: #cbcbcb;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 6, ../sass/WebElementStructureWithButtons.sass */
input[type=button].MainAction, input[type=submit].MainAction {
  font-size: 19px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF669F5F', endColorstr='#FF3D5F39');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #669f5f), color-stop(100%, #527f4c));
  background: -webkit-linear-gradient(#669f5f, #527f4c);
  background: -moz-linear-gradient(#669f5f, #527f4c);
  background: -o-linear-gradient(#669f5f, #527f4c);
  background: linear-gradient(#669f5f, #527f4c);
  -webkit-box-shadow: #94bc8f 0 1px 0 inset;
  -moz-box-shadow: #94bc8f 0 1px 0 inset;
  box-shadow: #94bc8f 0 1px 0 inset;
  border: 1px solid #476f42;
  color: white;
  text-shadow: #314c2d 0 -1px 0;
}
/* line 15, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].MainAction:hover, input[type=submit].MainAction:hover {
  text-decoration: none;
}
/* line 36, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].MainAction:hover, input[type=submit].MainAction:hover {
  background-color: #476f42;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5c8f55), color-stop(100%, #476f42));
  background: -webkit-linear-gradient(#5c8f55, #476f42);
  background: -moz-linear-gradient(#5c8f55, #476f42);
  background: -o-linear-gradient(#5c8f55, #476f42);
  background: linear-gradient(#5c8f55, #476f42);
}
/* line 39, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].MainAction:active, input[type=submit].MainAction:active {
  -webkit-box-shadow: #41663d 0 1px 2px inset;
  -moz-box-shadow: #41663d 0 1px 2px inset;
  box-shadow: #41663d 0 1px 2px inset;
}
/* line 6, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].MainAction.disabled, input[type=button].MainAction[disabled], input[type=submit].MainAction.disabled, input[type=submit].MainAction[disabled] {
  opacity: 0.6;
  background: #527f4c;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
input[type=button].MainAction::-moz-focus-inner, input[type=submit].MainAction::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 8, ../sass/WebElementStructureWithButtons.sass */
input[type=button].DeleteAction, input[type=submit].DeleteAction {
  font-size: 19px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC30000', endColorstr='#FF5D0000');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c30000), color-stop(100%, #900000));
  background: -webkit-linear-gradient(#c30000, #900000);
  background: -moz-linear-gradient(#c30000, #900000);
  background: -o-linear-gradient(#c30000, #900000);
  background: linear-gradient(#c30000, #900000);
  -webkit-box-shadow: #ff1111 0 1px 0 inset;
  -moz-box-shadow: #ff1111 0 1px 0 inset;
  box-shadow: #ff1111 0 1px 0 inset;
  border: 1px solid #760000;
  color: white;
  text-shadow: #3e0000 0 -1px 0;
}
/* line 15, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].DeleteAction:hover, input[type=submit].DeleteAction:hover {
  text-decoration: none;
}
/* line 36, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].DeleteAction:hover, input[type=submit].DeleteAction:hover {
  background-color: #760000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aa0000), color-stop(100%, #760000));
  background: -webkit-linear-gradient(#aa0000, #760000);
  background: -moz-linear-gradient(#aa0000, #760000);
  background: -o-linear-gradient(#aa0000, #760000);
  background: linear-gradient(#aa0000, #760000);
}
/* line 39, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].DeleteAction:active, input[type=submit].DeleteAction:active {
  -webkit-box-shadow: #670000 0 1px 2px inset;
  -moz-box-shadow: #670000 0 1px 2px inset;
  box-shadow: #670000 0 1px 2px inset;
}
/* line 6, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].DeleteAction.disabled, input[type=button].DeleteAction[disabled], input[type=submit].DeleteAction.disabled, input[type=submit].DeleteAction[disabled] {
  opacity: 0.6;
  background: #900000;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
input[type=button].DeleteAction::-moz-focus-inner, input[type=submit].DeleteAction::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 10, ../sass/WebElementStructureWithButtons.sass */
input[type=button].WToggleButton, input[type=submit].WToggleButton {
  font-size: 19px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7C7C7C', endColorstr='#FF494949');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bcbcbc), color-stop(50%, #7c7c7c), color-stop(100%, #626262));
  background: -webkit-linear-gradient(#bcbcbc, #7c7c7c 50%, #626262);
  background: -moz-linear-gradient(#bcbcbc, #7c7c7c 50%, #626262);
  background: -o-linear-gradient(#bcbcbc, #7c7c7c 50%, #626262);
  background: linear-gradient(#bcbcbc, #7c7c7c 50%, #626262);
  -webkit-box-shadow: #e2e2e2 0 1px 0 inset;
  -moz-box-shadow: #e2e2e2 0 1px 0 inset;
  box-shadow: #e2e2e2 0 1px 0 inset;
  border: 1px solid #565656;
  color: white;
  text-shadow: #666666 0 -1px 0;
}
/* line 15, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].WToggleButton:hover, input[type=submit].WToggleButton:hover {
  text-decoration: none;
}
/* line 24, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].WToggleButton:hover, input[type=submit].WToggleButton:hover {
  background-color: #626262;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7b7b7), color-stop(50%, #626262), color-stop(100%, #4e4e4e));
  background: -webkit-linear-gradient(#b7b7b7, #626262 50%, #4e4e4e);
  background: -moz-linear-gradient(#b7b7b7, #626262 50%, #4e4e4e);
  background: -o-linear-gradient(#b7b7b7, #626262 50%, #4e4e4e);
  background: linear-gradient(#b7b7b7, #626262 50%, #4e4e4e);
}
/* line 27, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].WToggleButton:active, input[type=submit].WToggleButton:active {
  -webkit-box-shadow: #4e4e4e 0 1px 2px inset;
  -moz-box-shadow: #4e4e4e 0 1px 2px inset;
  box-shadow: #4e4e4e 0 1px 2px inset;
}
/* line 6, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type=button].WToggleButton.disabled, input[type=button].WToggleButton[disabled], input[type=submit].WToggleButton.disabled, input[type=submit].WToggleButton[disabled] {
  opacity: 0.6;
  background: #626262;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
input[type=button].WToggleButton::-moz-focus-inner, input[type=submit].WToggleButton::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 12, ../sass/WebElementStructureWithButtons.sass */
input[type=button].WToggleButton.Pushed, input[type=submit].WToggleButton.Pushed {
  -webkit-box-shadow: #333333 0 0.2em 0.4em inset;
  -moz-box-shadow: #333333 0 0.2em 0.4em inset;
  box-shadow: #333333 0 0.2em 0.4em inset;
  border: solid 1px #212121;
}
/* line 13, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-styles.sass */
input[type=button].WToggleButton.Pushed:active, input[type=submit].WToggleButton.Pushed:active {
  -webkit-box-shadow: #282828 0 0.2em 0.4em inset;
  -moz-box-shadow: #282828 0 0.2em 0.4em inset;
  box-shadow: #282828 0 0.2em 0.4em inset;
}
/* line 14, ../sass/WebElementStructureWithButtons.sass */
input[type=button][disabled], input[type=submit][disabled] {
  -webkit-box-shadow: #6c6c6c 0 0.2em 0.4em inset;
  -moz-box-shadow: #6c6c6c 0 0.2em 0.4em inset;
  box-shadow: #6c6c6c 0 0.2em 0.4em inset;
  border: solid 1px #5a5a5a;
  -webkit-box-shadow: white 1px 1px 1px 1px;
  -moz-box-shadow: white 1px 1px 1px 1px;
  box-shadow: white 1px 1px 1px 1px;
}
/* line 13, /usr/lib64/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-styles.sass */
input[type=button][disabled]:active, input[type=submit][disabled]:active {
  -webkit-box-shadow: #616161 0 0.2em 0.4em inset;
  -moz-box-shadow: #616161 0 0.2em 0.4em inset;
  box-shadow: #616161 0 0.2em 0.4em inset;
}
/* line 17, ../sass/WebElementStructureWithButtons.sass */
input[type=button][disabled]:active, input[type=submit][disabled]:active {
  -webkit-box-shadow: white 1px 1px 1px 1px;
  -moz-box-shadow: white 1px 1px 1px 1px;
  box-shadow: white 1px 1px 1px 1px;
}
